<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
	point="org.eclipse.jdt.ui.quickAssistProcessors">
	<quickAssistProcessor
         class="org.wloka.reflectify.assist.ReflectifyAssistProcessor"
         id="de.wlokas.reflectifyer.assist"
         name="%reflectifyAssistProcessor.name">
	</quickAssistProcessor>
</extension>
</plugin>
